apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit
  namespace: boilerplate
  labels:
    app: audit
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audit
  template:
    metadata:
      labels:
        app: audit
    spec:
      containers:
        - name: audit
          image: boilerplate-services-audit:latest
          env:
            - name: MONGODB_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: boilerplate-secrets
                  key: audit-logs-mongodb-connection
            - name: RABBITMQ_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: boilerplate-secrets
                  key: rabbitmq-connection
---
apiVersion: v1
kind: Service
metadata:
  name: audit
  namespace: boilerplate
spec:
  selector:
    app: audit
  ports:
    - port: 8080
      targetPort: 8080
