apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: boilerplate
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-data
  namespace: boilerplate
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-data
  namespace: boilerplate
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: otel-collector-data
  namespace: boilerplate
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 1Gi
